{% macro modal(marqueur)%}
{% spaceless %}
<!--<div class="{{marqueur.modal.cssclass|default('sans class css')}}">-->
	<span class="titre">{{marqueur.title}}</span><br/>
	<span class="contenu">{{marqueur.content|default('sans content')|replace({"\n":" ", "'":"\'"})}}</span>
</span>
{% endspaceless %}
{% endmacro %}

{% set lib = carte.getLibs|raw %}
{% if lib != "" %}
	<script type="text/javascript" src="{{lib|raw}}"></script>
	<style>.carte.mappy img {width:auto; height:auto; max-width:2000px; vertical-align:bottom; border:auto; -ms-interpolation-mode: bicubic;}</style>
{% endif %}

<div id="div_carte_{{carte.id}}" class="carte mappy {{carte.class|default("") }}" style="font-size: 0.75em;
line-height: 1.333em; position: relative; overflow: hidden;  {{carte.width is defined?"width:"~carte.width~";":""}}{{carte.height is defined?"height:"~carte.height~";":""}}"></div>

<script type="text/javascript">
	var search, burster, clusterize, reset, zoomOn, closeCustom, oldMarker, carte_{{carte.id}}, markerLayer_{{carte.id}}, outils_{{carte.id}};

	//{{carte.trigger}}(function(){
		
		carte_{{carte.id}} = new Mappy.api.map.Map({ container:"#div_carte_{{carte.id}}"});
		
		carte_{{carte.id}}.setCenter(
		  new Mappy.api.geo.Coordinates(
			{{carte.center.longitude}},
			{{carte.center.latitude}}),
		  {{carte.zoom}});			  
		
		{% if carte.tools %}
		//Barre d'tools
		outils_{{carte.id}} = new Mappy.api.map.tools.ToolBar(
			{"move": {{carte.tools.movable}}, "zoom": {{carte.tools.zoom}}},
			new Mappy.api.map.tools.ToolPosition("{{carte.tools.position}}", new Mappy.api.types.Point({{carte.tools.anchor.x}}, {{carte.tools.anchor.y}})),
			"vertical"
		);
		carte_{{carte.id}}.addTool(outils_{{carte.id}});
		{% endif %}		
		
		{% if carte.markers %}
		//Points et markers
		markerLayer_{{carte.id}} = new Mappy.api.map.layer.MarkerLayer(90);
		carte_{{carte.id}}.addLayer(markerLayer_{{carte.id}});
		{% if carte.static %}
			carte_{{carte.id}}.disableDblClickZoom()
			carte_{{carte.id}}.disableDraggable()
			carte_{{carte.id}}.disableGestureZoom()
			carte_{{carte.id}}.disableScrollWheelZoom()
			carte_{{carte.id}}.disableZoomSelection()
		{% endif%}
		
			{% for marker in carte.markers %}
				
				{% set modal, icon = marker.modal, marker.icon %}

				{% set iconMarker %}
					{% if icon is empty %}
					Mappy.api.ui.Icon.Default
					{% else %}
					new Mappy.api.ui.Icon({
						cssClass: "{{icon.cssclass}}",			// String	 Name of the css class.
						{% if icon.anchor is defined %}
						iconAnchor: new Mappy.api.types.Point(	// Mappy.api.types.Point	 Shift in pixel to define the anchor in the icon
							{{icon.anchor.x}},
							{{icon.anchor.y}}),
						{% endif %}
						image: "{{icon.imageUrl}}",			// String	 Url of the image.
						label: "{{icon.label}}",				// String	 Label of the icon.
						{% if modal.anchor is defined %}
						popUpAnchor: new Mappy.api.types.Point(	// Mappy.api.types.Point	 Shift in pixel to define the anchor of the popup in the icon
							{{modal.anchor.x}},
							{{modal.anchor.y}}),
						{% endif %}
						size: new Mappy.api.types.Size(			// Mappy.api.types.Size	 Size of the icon.
							{{icon.width}},
							{{icon.height}})
					})
					{% endif %}
				{% endset %}
					
				var marqueur = new Mappy.api.map.Marker(
					
					new Mappy.api.geo.Coordinates({{marker.longitude}}, {{marker.latitude}}),
					{{iconMarker}},
					new Mappy.api.map.PopUpOptions({
						mappyDecoration: {{modal.decoration}}, // Do you want to use mappy style? (default true)
						autoLayout : {{modal.autoLayout}},		// Do you want to reposition the popup automatically in your map?
						left: {{modal.left|raw}},				// auto ou Distance betwen the popup anchor and the lft of your popUp ("auto" will calculate the middle width of your popup)
						top: {{modal.top|raw}},					// auto ou Distance betwen the popup anchor and the top of your popUp ("auto" will calculate the middle height of your popup)
						right: {{modal.right|raw}},				// auto ou Distance betwen the popup anchor and the right of your popUp ("auto" will calculate the middle width of your popup)
						bottom: {{modal.bottom|raw}}					// auto ou Distance betwen the popup anchor and the bottom of your popUp ("auto" will calculate the middle height of your
					})
				);

				markerLayer_{{carte.id}}.addMarker(marqueur);
				marqueur.addToolTip('{{marker.title}}');
				{% if marker.active %}
				marqueur.addListener("click", function () {
					markerLayer_{{carte.id}}.getMarkers()[{{loop.index0}}].openPopUp($('{{_self.modal(marker)}}'));
				});
				{% endif %}
				
			{% endfor %}
		{% endif %}
			
	//});
</script>