{% extends '::light.html.twig' %}

{% block js %}
	{{mappyLib()}}
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<a onclick='javascript:partez()'>test</a>
<script type="text/javascript">
	function partez(){
		
		var geobound = new Mappy.api.geo.GeoBounds(new Mappy.api.geo.Coordinates(0,0), new Mappy.api.geo.Coordinates(90,90));
		var succes =function succes(result){console.log(result);}
		
		
		//Mappy.api.geolocation.AddressLocation(countryName:String, townName:String, wayName:String, number:String)
		var adresse = new Mappy.api.geolocation.AddressLocation("France", "Louvigny", "Longue Vue des Photographes");
		adresse.setPostalCode("14111")
		var geo = new Mappy.api.geolocation.Geocoder();		
		geo.geocode(adresse, succes);
		geo.geocode('{{requete}}', succes);
		//search(query, defaultCoords, options, succes);
	}
</script>

{{dump(requete)}}
{{dump(resultat)}}
{% endblock %}
