{% extends '::light.html.twig' %}

{% block js %}
	{{mappyLib()}}
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<a href="#" onclick='javascript:lancé();'>test</a>
<script type="text/javascript">
	function succes(a,b,c){console.log(a,b,c);};
	function lancé(){
		console.log("lancé");
		var ps = new Mappy.api.visiocity.PhotoService();
		console.log(ps);
		ps.search('Paris', 'Facades', succes);
		return false;
	};
</script>

{% endblock %}
