{% set lib = map.getLibs|raw %}
    {% if lib != "" %}
        <script type="text/javascript" src="{{lib|raw}}"></script>
        <style type="text/css">
            .bingMap {
                position: absolute;
                top: 20;
                left: 10;
                border:#555555 1px solid;
            }

            .MicrosoftMap .MapPushpinBase {
                -webkit-transition: 0;
                -moz-transition: 0;
                -o-transition: 0;
                transition: 0;
            }

        </style>
    {% endif %}

    <div id="map_{{ map.id }}" class="bingMap" style="position: relative; overflow: hidden;  {{map.width is defined?"width:"~map.width~";":""}}{{map.height is defined?"height:"~map.height~";":""}}"></div>

    <script type="text/javascript">
        function GetMap()
        {
        // Initialize the map
        var map_{{ map.id }} = new Microsoft.Maps.Map(
                document.getElementById("map_{{ map.id }}"),
        {
        credentials: "Aisz7GgDpEaGoKpd8on-cNboKat0zrQa2GeJJTJiMpfLW361Amm_L2KdiENd4Li8",
                enableSearchLogo: false,
                enableClickableLogo: false,
                showDashboard: false,
                showScalebar: false,
                center: new Microsoft.Maps.Location({{map.center.latitude}}, {{map.center.longitude}}),
                mapTypeId: Microsoft.Maps.MapTypeId.road,
                zoom:{{ map.zoom }}
        });        
        {% if map.markers %}
            {% for marker in map.markers %}
                var loc_{{ loop.index }} = new Microsoft.Maps.Location({{ marker.latitude }}, {{ marker.longitude }});
                var pin_{{ loop.index }} = new Microsoft.Maps.Pushpin(loc_{{ loop.index }}, {text: "{{ loop.index}}"});
                map_{{ map.id }}.entities.push(pin_{{ loop.index }});            
            {% endfor %}
        {% endif %}
        }

        GetMap();
    </script>